<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.byter.vadb"
    android:versionCode="20162"
    android:versionName="2.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AdbServerService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>

        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".AboutMeActivity"
            android:label="@string/title_activity_about_me" >
        </activity>
        <activity
            android:name=".AboutAppActivity"
            android:label="@string/title_activity_about_app" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".UpdateCenterActivity"
            android:label="@string/title_activity_update_center" >
        </activity>
        <activity
            android:name=".HelpCenterActivity"
            android:label="@string/title_activity_help_center" >
        </activity>

        <service
            android:name=".AppService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".NetworkStateChangeReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HowToUseActivity"
            android:label="@string/title_activity_how_to_use" >
        </activity>
    </application>

</manifest>
